.container{
  width: 100%;
  padding: 25px 25px;
}
.try-on-zone{
  width: 100%;
  height: 80vh;
  margin-top: 50px;
  background-color: setColor(gray);
  #tryon-video {
    display: none;
    width: 100%;
    height: 100%;
  }
  #threejsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #threejsContainer canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    
  .videosource {
    display: none;
  }
}

.picture-wall{
  margin-top: 25px;
}
.select-model{
  background-color: setColor(gray);
  .ant-tabs-tab{
    min-width: 100px;
    .ant-tabs-tab-btn{
      padding: 0 20px;
    }
  }
  .tab{
    display: flex;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow: auto;
  }
  .card{
    width: 150px;
    height: 180px;
    border: solid 2px setColor(light);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    img{
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      width: 100%;
    }

    p {
      width: 100%;
      word-wrap:normal;
      overflow: hidden;
      margin-top: 2px;
      height: 25px;
      color: setColor(light);
      font-weight: bold;
      
    }
  }
  .card:hover {
    transform: scale(1.2);
  }
}


.form-title {
  font-size: 28px;
  font-weight: bold;
  padding: 5px 25px;
  margin-bottom: 25px;
  color: setColor(yellow);
  border-bottom: solid 2px setColor(light);
}

.form{
  label {
    font-size: 14px;
    font-weight: bold;
    color: setColor(white);
  }
  input {
    background: setColor(gray);
    border: none;
    border-bottom: solid 2px setColor(light);
    color: setColor(light);
  }
  input:focus {
    outline: solid 2px setColor(gray);
    border:none;
    border-bottom: solid 2px setColor(light);
  }
}
.demo-item{
  width: 100%;
  background: setColor(light);
  height: 40vh;
  min-height: 40vh;
}